body {
    background-color: black;
}


.carousel-inner {
  width: 400px;
  height: 400px;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: linear-gradient(to right, #3107ee, #4a98e6);
  padding: 20px;
  box-sizing: border-box;
}

.car {
     height: 70vh;
}